<div class="main" style="background-image: url(../Images/Schedule.png);">
    <form class="form" action="../HTML/Homepage_User.html?userID=" method="get" onsubmit="regis()">
        <span class="form-title">Register for Basic Service</span>
        <div class="row">
            <div class="col">
              <label class="form-label">Full Name</label>
              <input id="fullname" name="fullname" type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <label class="form-label">Address</label>
              <input id="address" name="address" type="text" class="form-control" disabled>
            </div>
            <div class="col">
                <label class="form-label">Phone Number</label>
                <input type="text" id="phone" name="phone" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Date you want to test</label>
                <input type="text" id="date" name="date" class="form-control" disabled>
            </div>
        </div>
        <div class="col-12">
            <button class="btn-sm" type="submit">Confirm to Register</button>
        </div>
    </form>
</div>
